@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper-focused {
  box-shadow: none !important;
  border-color: #9a9a9a !important;
}
.ant-input:hover,
.ant-input:focus,
.ant-input-focused {
  box-shadow: none !important;
  border-color: #9a9a9a !important;
}
.ant-input-number:hover,
.ant-input-number:focus,
.ant-input-number-focused {
  box-shadow: none !important;
  border-color: #9a9a9a !important;
}
.ant-select:not(.ant-select-disabled) .ant-select-selector {
  box-shadow: none !important;
  border-color: #ddd !important;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #9a9a9a !important;
}
.ant-select:not(.ant-select-disabled):focus .ant-select-selector {
  border-color: #9a9a9a !important;
}
.ant-dropdown-trigger {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  background: #51cbce;
  color: #fff;
  padding: 0 10px;
  border-radius: 19px;
}
.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-submenu-title-selected,
.ant-dropdown-menu-item-selected > a,
.ant-dropdown-menu-submenu-title-selected > a {
  background: none !important;
  color: #66615b !important;
}
.ant-dropdown-menu-item-selected::after,
.ant-dropdown-menu-submenu-title-selected::after,
.ant-dropdown-menu-item-selected > a::after,
.ant-dropdown-menu-submenu-title-selected > a::after {
  position: absolute;
  content: '✓';
  right: 10px;
}
.anticon.anticon-check {
  color: #66615b;
}
.form-select .ant-select {
  background-color: #51bcda;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.form-select .ant-select .ant-select-selector {
  border-color: #51bcda !important;
  background-color: #51bcda !important;
}
.form-select .ant-select .ant-select-selector .ant-select-selection-placeholder {
  color: #fff;
}
.form-select .ant-select .ant-select-arrow {
  color: #fff;
}
.form-select .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-right-width: 0 !important;
  border-color: #51bcda !important;
}
.form-select .ant-select .ant-select-selection-item {
  color: #fff !important;
}
.form-select .ant-select .ant-select-clear {
  background-color: #51bcda;
  color: #fff;
}
.ant-picker:hover,
.ant-picker-focused {
  border-color: #9a9a9a !important;
  box-shadow: none !important;
}
.ant-picker-active-bar {
  background: #9a9a9a !important;
}
.ant-table-wrapper {
  overflow: hidden;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  font-weight: bolder;
}
.ant-table-wrapper .ant-pagination {
  background: #fff;
  margin: 0 !important;
  justify-content: flex-end;
  padding: 10px;
}
.ant-table-wrapper .ant-pagination .ant-pagination-total-text {
  position: absolute;
  left: 15px;
}
.ant-table-wrapper .ant-pagination .ant-pagination-prev:hover .ant-pagination-item-link,
.ant-table-wrapper .ant-pagination .ant-pagination-next:hover .ant-pagination-item-link {
  color: #2c2c2c;
  background-color: rgba(222, 222, 222, 0.3);
}
.ant-table-wrapper .ant-pagination .ant-pagination-prev button,
.ant-table-wrapper .ant-pagination .ant-pagination-next button {
  border: none;
  border-radius: 50%;
}
.ant-table-wrapper .ant-pagination .ant-pagination-prev.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-table-wrapper .ant-pagination .ant-pagination-next.ant-pagination-disabled:hover .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  background: none;
}
.ant-table-wrapper .ant-pagination .ant-pagination-item {
  border: none;
  border-radius: 50%;
}
.ant-table-wrapper .ant-pagination .ant-pagination-item a {
  color: #2c2c2c;
}
.ant-table-wrapper .ant-pagination .ant-pagination-item:hover {
  background-color: rgba(222, 222, 222, 0.3);
}
.ant-table-wrapper .ant-pagination .ant-pagination-item.ant-pagination-item-active {
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
}
.ant-table-wrapper .ant-pagination .ant-pagination-item.ant-pagination-item-active a {
  color: #fff;
}
.ant-table-wrapper .ant-pagination .ant-pagination-item.ant-pagination-item-active:hover {
  background-color: #51cbce;
}
.ant-table-wrapper .ant-pagination .ant-pagination-jump-next {
  border-radius: 50%;
}
.ant-table-wrapper .ant-pagination .ant-pagination-jump-next:hover {
  background-color: rgba(222, 222, 222, 0.3);
}
.ant-table-wrapper .ant-pagination .ant-pagination-jump-next:hover .anticon {
  color: #2c2c2c;
}
.ant-table-wrapper .ant-select-selector {
  height: 32px !important;
  border: none !important;
  margin-top: -2px;
}
.ant-btn:hover,
.ant-btn:focus {
  border-color: #2ba9cd !important;
  color: #2ba9cd !important;
}
.ant-btn:hover.ant-btn-link.ant-btn-dangerous,
.ant-btn:focus.ant-btn-link.ant-btn-dangerous {
  color: #eb5e28 !important;
  border-color: #eb5e28 !important;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: #2ba9cd !important;
  border-color: #2ba9cd !important;
  color: #fff !important;
}
.ant-btn-primary:hover[disabled],
.ant-btn-primary:focus[disabled] {
  color: rgba(0, 0, 0, 0.25) !important;
  background: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
}
.ant-btn-dangerous.ant-btn-primary:hover,
.ant-btn-dangerous.ant-btn-primary:focus {
  background: #eb5e28 !important;
  border-color: #eb5e28 !important;
  color: #fff !important;
}
.ant-btn-dangerous.ant-btn-primary:hover,
.ant-btn-dangerous.ant-btn-primary:focus {
  background: #eb5e28 !important;
  border-color: #eb5e28 !important;
  color: #fff !important;
}
.ant-radio-wrapper:hover .ant-radio {
  border-color: #9a9a9a !important;
}
.ant-radio-wrapper:hover .ant-radio:hover .ant-radio-inner {
  border-color: #9a9a9a !important;
}
.ant-radio-wrapper:hover.ant-radio-wrapper-disabled .ant-radio {
  border-color: #cdcdcd !important;
}
.ant-radio-wrapper:hover.ant-radio-wrapper-disabled .ant-radio:hover .ant-radio-inner {
  border-color: #cdcdcd !important;
}
.ant-radio {
  border: 3px solid #cdcdcd;
  border-radius: 50%;
}
.ant-radio.ant-radio-checked {
  border-color: #9a9a9a;
}
.ant-radio.ant-radio-checked .ant-radio-inner {
  border-color: #9a9a9a;
}
.ant-radio.ant-radio-checked .ant-radio-inner::after {
  background-color: #9a9a9a;
}
.ant-radio-input:focus + .ant-radio-inner {
  border-color: #cdcdcd !important;
}
.ant-radio-group.ant-radio-group-solid {
  border-radius: 20px;
  overflow: hidden;
}
.ant-radio-group.ant-radio-group-solid .ant-radio-button-wrapper {
  height: 40px;
  line-height: 36px;
  color: #51bcda;
  font-weight: 700;
  border: 2px solid #51bcda;
  border-right: none;
  transition: none;
}
.ant-radio-group.ant-radio-group-solid .ant-radio-button-wrapper:first-child {
  border-radius: 20px 0 0 20px;
}
.ant-radio-group.ant-radio-group-solid .ant-radio-button-wrapper:last-child {
  border-radius: 0 20px 20px 0;
  border-right: 2px solid #51bcda;
}
.ant-radio-group.ant-radio-group-solid .ant-radio-button-wrapper:not(:first-child)::before {
  background-color: #51bcda;
}
.ant-radio-group.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  border-color: #51bcda;
}
.ant-radio-group.ant-radio-group-solid .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
  border-right-color: #51bcda;
}
.ant-radio-group.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  background: #51bcda;
  border-color: #51bcda;
}
.ant-radio-group.ant-radio-group-solid .ant-radio-button-wrapper-checked .ant-radio-button-checked {
  background: #51bcda;
  border-color: #51bcda;
}
.ant-checkbox-wrapper .ant-checkbox {
  border-radius: 6px;
}
.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner {
  height: 24px;
  width: 24px;
  background: #cdcdcd;
  border-color: #9a9a9a;
}
.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner::after {
  width: 9px;
  height: 15px;
}
.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #9a9a9a;
}
.ant-checkbox-wrapper .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}
.ant-checkbox-wrapper .ant-checkbox.ant-checkbox-checked::after {
  border: 1px solid #9a9a9a;
}
.ant-checkbox-wrapper .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #9a9a9a;
}
.ant-checkbox-wrapper .ant-checkbox.ant-checkbox-disabled .ant-checkbox-inner {
  border-color: #cdcdcd;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #cdcdcd !important;
}
button.ant-switch {
  box-sizing: content-box;
  height: 26px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.4);
}
button.ant-switch .ant-switch-handle {
  height: 22px;
  width: 22px;
}
button.ant-switch .ant-switch-handle::before {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
}
button.ant-switch .ant-switch-inner {
  color: rgba(0, 0, 0, 0.25);
  font-weight: 700;
  padding: 0 6px;
}
button.ant-switch.ant-switch-checked {
  border-color: #ef8157;
}
button.ant-switch.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 22px - 3px);
}
button.ant-switch.ant-switch-checked .ant-switch-handle::before {
  background-color: #ef8157;
}
button.ant-switch.ant-switch-checked .ant-switch-inner {
  color: #ef8157;
}
button.ant-switch .ant-click-animating-node {
  border: 0 none;
  opacity: 0;
  animation: none 0 ease 0 1 normal;
}
.ant-spin-dot-item {
  background-color: #ccc !important;
}
.ant-spin,
.ant-spin.ant-spin-spinning {
  color: #ccc;
}
.ant-popover-inner-content {
  padding: 0 !important;
}
.ant-popover-inner-content .ant-menu {
  border-right: none !important;
  border-radius: 10px !important;
  padding: 10px 0;
  overflow: hidden;
}
.ant-popover-inner-content .ant-menu .ant-menu-item-only-child {
  height: 30px;
  line-height: 30px;
  margin: 0 !important;
}
.ant-popover-inner-content .ant-menu .ant-menu-item-only-child:hover {
  background-color: #66615b;
  color: #fff;
}
.form-submit .ant-btn.ant-btn-primary,
.message-btns .ant-btn.ant-btn-primary {
  border-color: #6bd098;
  background-color: #6bd098;
  color: #fff;
}
.form-submit .ant-btn.ant-btn-primary:hover,
.message-btns .ant-btn.ant-btn-primary:hover {
  background-color: #44c47d !important;
  border-color: #44c47d !important;
}
.ant-layout-sider-zero-width-trigger {
  top: 10px !important;
}
.ant-layout.ant-layout-has-sider.mobile .ant-layout-sider {
  position: absolute;
  z-index: 10;
  min-height: 100vh;
}
.ant-layout.ant-layout-has-sider.mobile .ant-layout-header {
  zoom: 0.7;
  margin-left: 50px;
}
.ant-layout.ant-layout-has-sider.mobile .ant-layout-header .header-menus {
  border-bottom: none;
}
.ant-layout.ant-layout-has-sider.mobile .ant-layout-content {
  zoom: 0.7;
}
.ant-layout.ant-layout-has-sider.mobile .ant-layout-content .site-layout-background.module {
  height: calc(130vh);
}
.card-title {
  font-size: 1.714em;
  line-height: 1.45em;
  margin-top: 10px;
  margin-bottom: 0.75rem;
}
.card-title small {
  text-transform: capitalize;
  font-weight: 400;
  color: #9a9a9a;
  font-size: 0.75em;
  margin-left: 25px;
}
